<div class="nav">
<ul id="dropdown1" class="dropdown-content z-depth-4">
  <li><%= link_to "ABOUT US"%></li>
  <li><%= link_to "TUTORIAL"%></li>
  <li><%= link_to "DOWNLOAD ON APP"%></li>
  <li><%= link_to "FAQ"%></li>
  <li><%= link_to "PRIVACY POLICY"%></li>
  <li><%= link_to "TERMS OF SERVICE"%></li>
  <li><%= link_to "CONTACT US"%></li>
</ul>
<nav>
  <div id="nav-wrapper1" class="z-depth-3">
    <a href="#!" id="brand-logo1">CrowdCircle</a>
    <ul class="left hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons left"><i class="fa fa-bars fa-lg" aria-hidden="true"></i></i></a></li>
    </ul>
  </div> 
</nav>
  <div class="parallax-container">
     <div class="parallax"><%= image_tag("backgrounds/1.jpg" , width: '100%' ) %></div>
     <div class="front">
     <div class="heading">
      <p id="upperheading" class="light">"Get connected</p>
      <p class="light">with people nearby you"</p>
     </div>
      <div class="signin">
       <div class="google"><%= link_to "Log in with Google", "/auth/google_oauth2",:class =>"waves-effect waves-light btn-large", id: "sign_in" %><br></div>
       <div class="facebook"><%= link_to "Log in with Facebook", "/auth/facebook",:class =>"waves-effect waves-light btn-large", id: "sign_in" %></div>
      </div>
      </div>
  </div>


 <div class="slider">
    <ul class="slides">
      <li>
        <%= image_tag("backgrounds/7.jpg" ,:class =>"image1", width: '100%')%>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("backgrounds/4.jpg" , width: '100%')%>
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
       <li>
        <%= image_tag("backgrounds/5.jpg" , width: '100%')%>
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <%= image_tag("backgrounds/6.jpg" , width: '100%')%>
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<div class="parallax-container">
     <div class="parallax"><%= image_tag("backgrounds/3.jpg" , width: '100%' ) %></div>
     <div class="downparallex">
        <div class="downcontent">
         <p id="p1" class="light">"Get to know</p>
         <p class="light">what is trending in your Town"</p>
        </div>
          <div class="store">
           <!-- apple store button -->
          <div class="apple">
            <%= image_tag("backgrounds/apple1.svg",:class => "z-depth-5" ,widht: '190px' , height: '65px')%>
          </div>
            <!-- android button -->
          <div class="googleplay">
            <%= image_tag("backgrounds/google.png",:class => "z-depth-5" , widht: '250px' , height: '100px')%>
          </div>
        </div>
     </div>
</div>

</div>