<div class = "container">
	<%= form_tag url_for(controller: 'home', action: 'create_comment_remote' , post_id: @post.id),  html: { multipart: true } , remote: true  do %>
	<%= text_field_tag :content , nil , placeholder: "New Comment" , id: "text_field" , required: true %>
	<br>
	<%= submit_tag 'Comment' %>
	<% end %>
</div>


<div class="container" , id ="comments<%= @post.id %>">
<% @comments.each do |comment| %>
	<%= render 'eachcomment' , :comment => comment %>
<% end %>
</div>